<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="slideData && slideData.length" class="slider" autoplay="5000" class="slideroption" pager="true"   loop="true" speed="300">
        <ion-slides autoplay="10" loop="true" speed="2500">
          <ion-slide *ngFor="let slide of this.slideData">
            <img src="{{slide.image}}" />
          </ion-slide>
        </ion-slides>
      </ion-card>
  <div margin>
    <div *ngFor="let result of data" class="column" (click)="orderNow(result)">
      <ion-row>
        <div>
          <img class="img" src="{{result.image}}">
        </div>
        <ion-col class="rest-name">
          <div style="font-size:15px;font-weight: 450">{{result.name}}
          </div>
          <div style="font-size:13px;color:black">
            Rs.{{result.price}} 
          </div>
          <button class="button" ion-button>Order Now</button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>