page-unapproved {
    .img{
        width: 100px;
        height: auto;
        border-radius: 5px 5px 5px 5px;
    }
    .column{   
        padding-left:20px; 
        padding-right: 20px;
        box-shadow: 1px 1px 5px -2px;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 10px;
    }
    .rest-name {    
        text-align: center;
        font-size: 10px;
    }
    .buttons{
        text-align: center;
        width: 90px;
        margin-top: 45px;
        height: 25px;
    }
    .but{
        margin-left: 40px;
        margin-top: auto;
        margin-right: auto;
    }
}
