page-profile {

    .ion-card{
        text-align: center;
    }
    .ion-card > div{
        text-align: center
    }

    .profile-image{

        width: 150px;
        height: 150px;
        padding: 5px;
        background-color: #fff;
    
      }
      .profile-name{
        text-align: center;
        font-size: 20px;
        color: #000;
      }
    
      .profile-email{
        text-align: center;
        font-size: 15px;
        color: rgb(93,93,93);
      }
   
}
