page-location-picker {

    #map {
        height: 100%;
    }
    img {
        display: block;
        margin-left: auto;
        margin-top: 50%;
        margin-right: auto;
        width: 25%;
    }
    .center {
        text-align: center;
        font-weight: 450;
        margin-top:20px;

    }
}
